<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testing_code_5thNov_2022.Important_Methods_In_Assert"/>
      <class name="testing_code_5thNov_2022.Assertion_In_TestNG"/>
      <class name="testing_code_5thNov_2022.testingAssert"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
